<h2 class="text-center text-danger mt-3">Historial</h2>

<div class="form-group">
    <input type="text" id="user" name="user" class="form-control" placeholder="Nombre de Usuario..." required />
</div>

<div class="form-group">
    <input type="text" class="form-control" name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..." required/>
</div>

<div class="form-group">
    <button id="botonEnviarMensaje">Enviar</button>
</div>

