<div>
    <h1 class="text-center text-success">Ingrese datos</h1>

    <div class="form-group">
        <input type="text" id="title" name="title" class="form-control" placeholder="Ingresa el Nombre del producto..." required>
    </div>
    <div class="form-group">
        <input type="number" id="price" name="price" class="form-control" placeholder="Ingresa el Precio del producto..." required>
    </div>
    <div class="form-group">
        <input type="text" id="thumbnail" name="thumbnail" class="form-control" placeholder="Ingresa el Nombre del producto..." required>
    </div>

    <div class="form-group">
        <button type="submit" id="botonEnviar">Enviar</button>
    </div>

</div>
